.product-list {
  padding-top: 100px;
  background-color: $cl-white-1;
  .nav-pills {
    background-color: $cl-grey-1;
    border-radius: 5rem;
    padding: 10px;
  }
  .nav-item {
    &:hover {
      .nav-link {
        color: #ffd507;
      }
    }
  }
  .nav-item .nav-link {
    padding: 8px 15px;
    border-radius: 5rem;
    color: black;
    transition: all 0.3s;
  }
  .nav-item .nav-link.active {
    color: black;
    background: white;
  }
  .table-product {
    table {
      overflow: hidden;
      display: table;
      border-top-left-radius: 1.25rem;
      border-top-right-radius: 1.25rem;
      background-color: white;
      box-shadow: 0 12px 23px 0 rgba(62, 73, 84, 0.2);
    }
  }
}
#tbdList {
  i {
    margin-right: 5px;
  }
  button {
    display: block;
    margin: auto;
  }
}
#confirmation {
  .modal-content {
    border-radius: 1.5rem;
  }
}
