.product-input-form {
  .input-field {
    width: 100%;
    padding-bottom: 20px;
    label {
      font-weight: bold;
      color: $cl-black-1;
      margin-bottom: 10px;
      i {
        margin-right: 10px;
      }
    }
    input {
      width: 100%;
      color: $cl-grey-4;
      background-color: transparent;
      border: 0;
      border-bottom: solid 3px $cl-primary-opacity;
      padding: 1px 2px;
      transition: all 0.4s ease;
      &:focus + span {
        &::after {
          width: 100%;
        }
      }
    }
    span {
      position: relative;
      display: block;
      &::after {
        content: '';
        background-color: $cl-primary;
        position: absolute;
        left: 0;
        bottom: 0;
        height: 3px;
        width: 0%;
        transition: all 0.4s ease;
      }
    }
    .error-announce {
      color: red;
      margin-left: 2px;
      display: none;
    }
  }
  .select-field {
    @extend .input-field;
    select {
      @extend input;
    }
  }
}
