//color
$cl-primary: #ffd507;
$cl-primary-opacity: rgba(255, 214, 7, 0.3);
$cl-black-1: #1a1919;
$cl-white-1: #f4f4f4;
$cl-white-2: #f0f1f5;
$cl-grey-1: #bdbdbd;
$cl-grey-2: #9f9f9f;
$cl-grey-3: #7a7a7a;
$cl-grey-4: #353535;
$cl-blue-1: #2953e8;

//break points
$breakpoints: (
  'xl': 1200px,
  'lg': 992px,
  'md': 768px,
  'sm': 576px,
);
