<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <!-- Fonts AWESOME -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- Font GG -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <!-- My CSS -->
    <link rel="stylesheet" href="../../asset/css/style.css" />
  </head>
  <body class="login">
    <div class="container">
      <div class="form-box login-form">
        <h1 class="text-center">Sign In</h1>
        <form action="../../admin/view/admin.html" class="loginForm">
          <span class="error-message-all"></span>
          <div class="input-group mb-3">
            <div class="input-field">
              <label for="username">Username</label>
              <input
                type="text"
                class="input"
                id="username"
                placeholder="Enter your username"
              />
              <span class="error-message"></span>
            </div>

            <div class="input-field">
              <label for="password">Password</label>
              <input
                type="password"
                class="input"
                id="password"
                placeholder="Enter your password"
              />
              <span class="error-message"></span>
            </div>

            <p class="mt-2">
              Forgot account and password?
              <a
                href="#"
                title="Here you are!"
                data-toggle="popover"
                data-placement="right"
                data-content="thaidev13639/Admin@123 - khadang2106/Admin@123"
                >Click Here!</a
              >
            </p>
            <button class="btn" type="submit">Login Now</button>
          </div>

          <div class="btn-field">
            <a class="btn" href="../../index.html"
              ><i class="fa fa-home"></i> Home</a
            >
            <a class="btn" href="../../customer/view/customer.html"
              ><i class="fa fa-store"></i> Store</a
            >
          </div>
        </form>
        <br />
      </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>

    <script>
      $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
      });
    </script>

    <!-- My JS -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.4.0/axios.min.js"
      integrity="sha512-uMtXmF28A2Ab/JJO2t/vYhlaa/3ahUOgj1Zf27M5rOo8/+fcTUVH0/E0ll68njmjrLqOBjXM3V9NiPFL5ywWPQ=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script type="module" src="../controllers/login.js"></script>
  </body>
</html>
