// Footer
.footer {
  letter-spacing: 1px;
  li {
    list-style: none;
    color: white;
  }
  a {
    color: white;
    text-decoration: none;
    transition: all 0.5s;
    &:hover {
      color: $cl-primary;
    }
  }
  text-align: center;
  background-color: rgba(0, 0, 0, 80%);
  color: white;
  .footer-socials {
    a {
      margin: 0 5px;

      font-size: 1.3rem;
      i {
        transition: all 0.5s;
        &:hover {
          color: #ffd507;
          animation: shake 1.5s linear 10;

          @keyframes shake {
            25% {
              transform: rotate(-20deg);
            }
            50% {
              transform: rotate(0);
            }
            75% {
              transform: rotate(20deg);
            }
            100% {
              transform: rotate(0);
            }
          }
        }
      }
    }
  }
  .footer-body {
    a {
      transition: all 0.5s;
    }
    li {
      margin: 10px 0;
      a {
        &:hover {
          color: #ffd507;
        }
      }
    }
    .content {
      i {
        font-size: 30px;
        margin-right: 10px;
        color: $cl-primary;
      }
      span {
        font-size: 25px;
        font-weight: 600;
        vertical-align: bottom;
        margin-bottom: 15px;
      }
      p {
        padding-right: 3rem;
        margin-top: 20px;
        font-size: 15px;
        font-weight: 300;
      }
    }
    .footer-item {
      a {
        font-size: 15px;
        font-weight: 300;
      }
      padding: 20px 10px;
      text-align: left;
    }
    .contact {
      i {
        margin-right: 10px;
      }
    }
  }
  .footer-copyright {
    padding: 17px;
    border-top: 1px rgba(255, 255, 255, 0.612) solid;
    a {
      transition: all 0.5s ease;
    }
    .d-flex {
      align-items: baseline;
    }
    .d-lg-flex {
      align-items: center;
    }
    .footer-copyright__text {
      a {
        color: $cl-primary;
        display: inline-block;
        &:hover {
          color: #eee;
          animation: scaleLogo 1s ease-in infinite;

          @keyframes scaleLogo {
            0% {
              transform: scale(1);
            }
            100% {
              transform: scale(1.1);
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 567.98px) {
    .footer-body {
      padding-left: 15px;
    }
  }
}

//Responsive
.footer {
  @include responsive(lg) {
    .footer-copyright {
      .d-flex {
        align-items: center;
      }
    }
  }

  @include responsive(md) {
    .footer-copyright {
      .d-flex {
        font-size: 15px;
      }
    }
    .footer-socials {
      a {
        font-size: 1.1rem;
      }
    }
  }
}
