.products {
  .product-item {
    .card-btn {
      margin: 30px 0;
      button:focus {
        outline: none;
      }
      .btn-pay {
        padding: 10px 20px;
        background-color: #fb6e2e;
        color: white;
        border-radius: 7px;
        border: 1px #fb6e2e solid;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        transition: all 1s;
        &:hover {
          background-color: #fbd02e;
          border-color: #fbd02e;
          color: black;
        }
      }
      .btn-add {
        padding: 10px 22px;
        background-color: #2f80ed;
        color: white;
        border: 1px #2f80ed solid;
        border-left: none;
        margin-left: -5px;
        border-radius: 7px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        transition: all 1s;
        &:hover {
          i {
            animation: cart-shake linear 1s 2;
            @keyframes cart-shake {
              25% {
                transform: rotate(-20deg);
              }
              50% {
                transform: rotate(0);
              }
              75% {
                transform: rotate(20deg);
              }
              100% {
                transform: rotate(0);
              }
            }
          }
        }
      }
    }
  }
}

//Changing btn default color
.btn-warning {
  @include btnColor(#ffab2d, #ffab2d, #212529);
  &:hover,
  &:focus {
    @include btnColor(#ff9c07, #f99500, #212529);
  }
}
.btn-danger {
  @include btnColor(#ff4c41, #ff4c41, #fff);
  &:hover,
  &:focus {
    @include btnColor(#ff281b, #ff1c0e, #fff);
  }
}
.btn-info {
  @include btnColor(#009ff9, #0097ec, #fff);
  &:hover,
  &:focus {
    @include btnColor(#07a5ff, #009ff9, #fff);
  }
}
.btn-primary {
  @include btnColor(#2953e8, #2953e8, #fff);
  &:hover {
    @include btnColor(#1740d4, #163dc8, #fff);
  }
}
