.modal-content {
  background-color: $cl-white-1;
  .modal-body .container {
    border-radius: 1rem;
  }
  .form-control {
    border: 1px solid transparent;
    border-radius: 1.5rem;
  }
  .input-group-text {
    width: 38px;
  }
}
